@model IEnumerable<Szkolenie3Projekt.Services.DTOs.BookListDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                Release date
            </th>
            <th class="text-right">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @for (int i = 0; i < item.Authors.Count() && i < 3; ++i)
                {
                    var author = item.Authors.ElementAt(i);
                    var authorStr = $"{author.FirstName} {author.LastName}";
                    <a asp-action="Details" asp-controller="Authors" asp-route-id="@author.Id">@authorStr</a>
                    <br/>
                    if (item.Authors.Count() > 3 && i == 2)
                    {
                        <span> And others </span>
                    }
                }
            </td>
            <td>
                @item.ReleaseDate.ToString("dd/MM/yyyy")
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
